.black9 {  font-family: "ו"; font-size: 9pt; color: #000000; text-decoration: none; line-height: 16pt}
table {  font-family: "ו"; font-size: 9pt; color: #000000; text-decoration: none}
.blue9b {  font-family: "ו"; font-size: 9pt; color: #000080; font-weight: bold}
a:link {  color: #000080}
a:hover {  color: #CC6600; text-decoration: none}
a:visited {  color: #660066}
